/* You can add global styles to this file, and also import other style files */
@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-alpine.css';

html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    -webkit-overflow-scrolling: touch;
}

p, h2, h1, span {
  direction: rtl;
  text-align: right;
  font-family: 'vazirmatn';
  font-feature-settings: "ss01", "tnum";
}

label, button {
  font-family: Vazirmatn;
}
